---
const { color, font, extra, transform } = Astro.props;

const classes = [
  font,
  "font-bold",
  "text-base",
  "m-0",
  "leading-wnvl-3",
  color,
  transform ?? "normal-case",
  extra ? [...extra] : "",
];
---

<p class:list={classes}>
  <slot />
</p>
