---
const { color, font, transform, size, weight, extra } = Astro.props;

const classes = [
  font,
  weight || "font-medium",
  size || "text-2xl",
  "m-0",
  "leading-wnvl-3",
  color,
  transform ?? "normal-case",
  extra ? [...extra] : "",
];
---

<p class:list={classes}>
  <slot />
</p>
