---
import Layout from "../layouts/Layout.astro";
import {
  SectionContainer,
  Typography,
  TripleGradient,
  BorderGradient,
} from "@components/index";
---

<Layout title="Welcome to Astro.">
  <main>
    <SectionContainer isStatic>
      <Typography variant="h1" align="center">Soy de primer nivel</Typography>
      <Typography variant="h2">Soy de segundo nivel</Typography>
      <Typography variant="h3">Soy de tercer nivel</Typography>
      <Typography variant="h4">Soy de cuarto nivel</Typography>
      <Typography variant="h5">Soy de quinto nivel</Typography>
      <Typography variant="h6">El ultimo nivel</Typography>
      <Typography color="alt">
        Soy un parrafo común y corriente

        <Typography
          variant="span"
          extraClasses={["text-wenvel-orange-1", "font-bold"]}
        >
          yo tengo lo mismo que el padre
        </Typography>
        Sin modificar el parrafo original
      </Typography>
      <Typography variant="label">Soy una etiqueta</Typography>
      <Typography variant="caption" transform="uppercase">
        Soy una llamada
      </Typography>
      <div class="flex">
        <div style="width: 400px; height: 400px; position: relative">
          <TripleGradient />
        </div>
        <div style="width: 400px; height: 400px; position: relative">
          <BorderGradient orientation="left" />
        </div>
        <div style="width: 400px; height: 400px; position: relative">
          <BorderGradient orientation="left" />
        </div>
        <div style="width: 400px; height: 400px; position: relative">
          <BorderGradient orientation="left" />
        </div>
        <div style="width: 400px; height: 400px; position: relative">
          <BorderGradient orientation="left" />
        </div>
      </div>
    </SectionContainer>
  </main>
</Layout>
