---
import { TripleGradient, Typography } from "..";
import Container from "../molecules/Container.astro";

const { logo } = Astro.props;
---

<nav class="fixed z-5 w-full top-0">
  <div id="nav-div" class="transparent py-12 transition-all duration-300">
    <Container>
      <div class="flex justify-between items-center px-4 md:px-0">
        <!-- logo -->
        <a class="w-20" href="/">
          <img class="w-full" src={logo} alt="wenvel logo" />
        </a>
        <div
          class="navLinks w-full min-h-screen absolute left-[-100%] top-0 flex flex-col items-start gap-4 md:flex-row md:gap-0 md:static md:bg-transparent md:dark:bg-transparent md:justify-end md:min-h-fit transition-all duration-500 z-4"
        >
          <TripleGradient extra={["md:hidden", "-z-2"]}>
            <div
              class="absolute w-full h-full top-0 left-0 -z-1 bg-slate-200/40 dark:bg-gray-900/90 backdrop-blur-3xl"
            >
            </div>
          </TripleGradient>
          <div
            class="w-full min-h-fit flex justify-between py-12 px-8 md:hidden"
          >
            <div class="w-20">
              <a class="block" href="/">
                <img class="w-full" src={logo} alt="wenvel logo" />
              </a>
            </div>
            <div class="flex gap-4">
              <div>
                <i
                  id="dark-mode-mobile"
                  class="fas fa-moon text-font-grey dark:text-slate-300 text-5xl mr-4 text-grey-1 cursor-pointer w-fit"
                ></i>
              </div>
              <div class="block md:hidden">
                <i
                  id="close"
                  class="fas fa-xmark text-5xl mr-4 text-font-grey dark:text-slate-300 cursor-pointer w-fit"
                ></i>
              </div>
            </div>
          </div>
          <div
            class="w-1/2 flex flex-col items-start justify-start gap-8 pl-8 md:pl-0 md:flex-row md:items-center md:justify-between md:gap-2"
          >
            <a href="">
              <Typography weight="font-bold" size="text-5xl md:text-2xl">
                Inicio
              </Typography>
            </a>
            <a href="">
              <Typography weight="font-bold" size="text-5xl md:text-2xl">
                Invitaciones
              </Typography>
            </a>
            <a href="">
              <Typography weight="font-bold" size="text-5xl md:text-2xl">
                Contacto
              </Typography>
            </a>
            <a href="">
              <Typography weight="font-bold" size="text-5xl md:text-2xl">
                Blog
              </Typography>
            </a>
            <div class="w-fit hidden md:block">
              <i
                id="dark-mode"
                class="fas fa-moon text-font-grey dark:text-slate-300 text-5xl mr-4 text-grey-1 cursor-pointer w-fit"
              ></i>
            </div>
          </div>
        </div>
        <div class="block md:hidden">
          <i
            id="open"
            class="fas fa-bars-staggered text-5xl mr-4 text-font-grey dark:text-slate-300 cursor-pointer w-fit"
          ></i>
        </div>
      </div>
    </Container>
  </div>
</nav>

<script>
  const nav = document.querySelector("#nav-div");
  const darkMode = document.querySelector("#dark-mode");
  const darkModeMobile = document.querySelector("#dark-mode-mobile");
  const openMenuButton = document.querySelector("#open");
  const closeMenuButton = document.querySelector("#close");
  const navLinks = document.querySelector(".navLinks");

  const body = document.body;

  const isMobile = window.innerWidth < 768;

  changeButton(getTheme());

  darkMode.addEventListener("click", changeThemeMode);
  darkModeMobile.addEventListener("click", changeThemeMode);

  openMenuButton.addEventListener("click", (e) => {
    navLinks.classList.remove("left-[-100%]");
    navLinks.classList.add("left-0");
  });

  closeMenuButton.addEventListener("click", () => {
    navLinks.classList.remove("left-0");
    navLinks.classList.add("left-[-100%]");
  });

  window.addEventListener("scroll", (e) => {
    if (window.scrollY > 50) {
      nav.classList.add(
        "backdrop-blur-sm",
        "shadow-2xl",
        "shadow-wenvel-red/20",
        "scale-[1.01]",
        "bg-white/80",
        "dark:bg-slate-900/80"
      );
    } else {
      changeToLight();
      nav.classList.remove(
        "shadow-2xl",
        "shadow-wenvel-red-/20",
        "scale-[1.01]",
        "bg-white/80",
        "dark:bg-slate-900/80"
      );
    }
  });

  function getTheme() {
    return localStorage.getItem("theme");
  }

  function setTheme(theme: string) {
    localStorage.setItem("theme", theme);
  }

  function changeToDark() {
    if (isMobile) return darkModeMobile.classList.replace("fa-moon", "fa-sun");
    darkMode.classList.replace("fa-moon", "fa-sun");
  }

  function changeToLight() {
    if (isMobile) return darkModeMobile.classList.replace("fa-sun", "fa-moon");
    darkMode.classList.replace("fa-sun", "fa-moon");
  }

  function changeButton(current: string) {
    if (current === "dark") {
      changeToDark();
    } else {
      changeToLight();
    }
  }

  function changeThemeMode() {
    if (isMobile) {
      if (darkModeMobile.classList.contains("fa-moon")) {
        changeToDark();
        setTheme("dark");
      } else {
        changeToLight();
        setTheme("light");
      }
    }
    if (!isMobile) {
      if (darkMode.classList.contains("fa-moon")) {
        changeToDark();
        setTheme("dark");
      } else {
        changeToLight();
        setTheme("light");
      }
    }

    body.classList.toggle("dark");
  }
</script>
