---
const { isStatic } = Astro.props;

const mainClasses = ["container", "mx-auto", "px-3", "2xl:px-0"];
---

<section class:list={mainClasses}>
  <div
    class:list={[
      {
        "h-screen": isStatic,
        "min-h-screen": !isStatic,
      },
    ]}
  >
    <slot />
  </div>
</section>
