---
import { SectionContainer, Typography, Button } from "@components/index";
---

<SectionContainer>
  <div class="flex justify-center items-center">
    <div class="w-11/12">
      <Typography variant="h1" color="primary">
        ¡Invitaciones únicas para eventos inolvodables!
      </Typography>
      <Typography color="grey">
        En wenvel estamos emocionados de ser parte de los momentos más
        importantes de tu vida. ¡Comencemos a crear juntos!
      </Typography>
      <div class="flex gap-4">
        <Button variant="red" caption="Explora nuestras" icon="fas fa-envelope">
          Invitaciones
        </Button>
        <Button
          variant="orange"
          caption="Contáctanos por"
          icon="fab fa-whatsapp"
        >
          Whatsapp
        </Button>
      </div>
    </div>
    <div class="w-11/12"></div>
  </div>
</SectionContainer>
