---
import "../assets/styles/index.css";
import { Nav } from "@components/index";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/assets/wenvel-logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-hero-image bg-cover bg-center bg-fixed">
    <Nav logo="/assets/wenvel-logo.png" />
    <slot />
  </body>
</html>

<script>
  const body = document.body;
  const themeMode = localStorage.getItem("theme");

  if (!themeMode) {
    localStorage.setItem("theme", "dark");
  }

  if (themeMode === "dark" && !body.classList.contains("dark")) {
    body.classList.toggle("dark");
  }

  if (themeMode === "light" && body.classList.contains("dark")) {
    body.classList.remove("dark");
  }
</script>

<style>
  html {
    font-size: 62.5%;
  }

  @media (max-width: 991px) {
    html {
      font-size: 58.5%;
    }
  }

  @media (max-width: 800px) {
    html {
      font-size: 56.5%;
    }
  }

  @media (max-width: 767px) {
    html {
      font-size: 53.5%;
    }
  }

  @media (max-width: 600px) {
    html {
      font-size: 51.5%;
    }
  }
</style>
