---
import {
  Container,
  TripleGradient,
  Typography,
  Button,
} from "@components/index";
---

<section>
  <TripleGradient>
    <Container>
      <div class="py-24 px-8 flex h-full reltive">
        <div class="flex flex-col gap-8">
          <Typography variant="h2" color="primary">
            <i class="fas fa-pen-ruler"></i>
            Invitaciones
          </Typography>
          <Typography color="text-slate-100 dark:text-white">
            Explora nuestra colección de invitaciones
          </Typography>
          <Button variant="white">Ver más</Button>
        </div>
      </div>
    </Container>
  </TripleGradient>
</section>
