---
import {
  Container,
  Typography,
  Button,
  FeatureImages,
} from "@components/index";
---

<section class="bg-hero-image bg-cover bg-center h-screen">
  <div
    class="absolute dark:bg-gray-900/80 backdrop-blur-md bg-white/70 w-full h-full z-1"
  >
  </div>
  <Container>
    <div
      class="flex flex-col justify-between items-center md:flex-row relative z-2 min-h-screen"
    >
      <div
        class="w-10/12 ml-[8.33%] order-2 md:w-6/12 md:order-1 flex flex-col gap-12 md:ml-0"
      >
        <Typography variant="h1" color="primary">
          ¡Invitaciones únicas para eventos inolvidables!
        </Typography>
        <Typography>
          En wenvel estamos emocionados de ser parte de los momentos más
          importantes de tu vida. ¡Comencemos a crear juntos!
        </Typography>
        <div class="w-full flex flex-col items-center gap-4 md:flex-row">
          <Button
            variant="red"
            caption="Explora nuestras"
            icon="fas fa-envelope"
          >
            Invitaciones
          </Button>
          <Button
            variant="orange"
            caption="Contáctanos por"
            icon="fab fa-whatsapp"
          >
            Whatsapp
          </Button>
        </div>
      </div>
      <div class="w-10/12 order-1 md:w-5/12 md:order-2">
        <FeatureImages
          img1="/assets/bautizo_phone_1.png"
          img2="/assets/quince.png"
        />
      </div>
    </div>
  </Container>
</section>
